<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>portfollio</h1>
  <h2>Adel mohamed moustfa</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>network</li>
    <li>Photography</li>
    <li>Design</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>devops </li>
  </ul>
  <p class="head">Education</p>
  <ul>
    
      <li>mti univirsty</li>
    </a>
    <!--Link-->
   
    </a>
    <li>sprints</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Student Technology Intern in sprints</li>
    
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Recycling Club</li>
    <li>Gardening Club</li>
    <li>Book Club</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Adel shoman </h2></div>